/* 
    INDEX:
    
        1 - GERAL
        2 - HEADER
        3 - PAGE INTRO
        4 - SOBRE
        5 - PRODUTOS
        6 - PORTFOLIO
        7 - CONTATO
        8 - FOOTER
        9 - MEDIA QUERIES
*/

/* ------------------------- GERAL ------------------------------ */
:root {
    --black: #202020;
    --light-gray: #e9e5d9;
    --dark-gray: #d8d4c9;
    --transparent: #00000000;

    font-family: Georgia, serif;
    color: #202020;
    scroll-behavior: smooth;
}

button {
    background-color: var(--transparent);
    color: var(--black);
    text-transform: uppercase;
    border: 3px solid var(--black);
    font-size: 1.2em;
    font-family: Georgia, serif;
    font-weight: bold;
    padding: 15px 25px;
    transition: all 0.5s;
}

button:hover {
    background-color: var(--black);
    color: white;
    transition: all 0.5s;
}

img {
    max-width: 90vw;
}

/* ------------------------- HEADER ----------------------------- */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--black);
    z-index: 90;
}

header img {
    padding: 20px;
}

header nav ul {
    display: flex;
}

header nav ul li a {
    color: white;
    margin: 10px;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}

header nav ul li a:before {
    content: '';
    position: absolute;
    top: 20px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: all 0.3s ease;
}

header nav ul li a:hover:before {
    width: 100%;
    transition: all 0.5s ease;
}

/* ------------------------- PAGE INTRO ----------------------------- */
#page-intro {
    background-image: url('../img/bg-intro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 65vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#page-intro h2 {
    font-size: 3em;
    text-transform: uppercase;
    position: relative;
}

#page-intro h2:before {
    content: '';
    position: absolute;
    background-color: white;
    width: 20px;
    height: 4px;
    left: 49%;
    top: 110%;
}

#page-intro h3 {
    font-weight: 100;
    font-style: italic;
    margin-top: 30px;
}

/* ------------------------- SOBRE ----------------------------- */
#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sobre h3{
    font-size: 2em;
    margin-top: 40px;
}

#sobre #figures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#sobre #figures figure {
    margin: 10px;
    position: relative;
    margin-top: 40px;
}

#sobre #figures figure figcaption {
    background-color: var(--black);
    color: white;
    font-style: italic;
    font-size: 2em;
    text-align: center;
    padding: 5px;
    width: 200px;
    position: absolute;
    top: 87%;
}

#sobre p {
    margin: 60px;
    margin-bottom: 80px;
    max-width: 500px;
    text-align: center;
    font-style: italic;
    font-size: 1.2em;
    line-height: 1.2em;
}

/* ------------------------- PRODUTOS ----------------------------- */
#produtos {
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
}

#produtos #states {
    margin: 0 auto;
    max-width: 1200px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#produtos #states .state {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    max-width: 300px;
}

#produtos #states .state h4 {
    font-size: 2em;
    padding: 30px;
}

#produtos .state-circle {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#produtos .state-circle:after {
    content: '';
    width: 107px;
    height: 107px;
    border-radius: 50%;
    border: 5px solid var(--light-gray);
    animation: circle-animation 4s infinite ease-in-out;
}

@keyframes circle-animation {
    from { width: 107px; height: 107px; }
    50% { width: 70px; height: 70px; }
    to { width: 107px; height: 107px; }
}

.state-circle.marrom {background-color: #512400; color: #512400}
.state-circle.laranja {background-color: #d97232; color: #d97232}
.state-circle.amarelo {background-color: #e8a744; color: #e8a744}

/* ------------------------- PORTFOLIO ----------------------------- */
#portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px
}

#portfolio button {
    padding: 7px 20px;
}

#portfolio .filial {
    display: flex;
    max-width: 800px;
    margin: 30px;
}

#portfolio .filial .filial-text {
    margin: 0 15px
}

#portfolio .filial .filial-text > * {
    margin: 10px;
}

#portfolio .filial .filial-text h4 {
    margin-top: 0;
    font-size: 2em;
}

/* ------------------------- CONTATO ----------------------------- */
#contato {
    background-color: var(--light-gray);
    padding: 30px;
}

#contato #contato-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contato #contato-text h2 {
    font-weight: bolder;
    font-size: 1.7em;
    margin-right: 20px;
}
#contato #contato-text h3 {
    font-weight: 100;
    font-style: italic;
}

#contato form {
    display: flex;
}

#contato form :first-child {
    background-color: var(--transparent);
    border: 2px solid var(--black);
    font-size: 1.3em;
    font-style: italic;
    font-family: Georgia, sans-serif;
    padding: 5px;
    padding-left: 15px;
}

#contato form :first-child:focus {
    outline: none;
}

#contato form :last-child {
    background-color: var(--black);
    color:white;
    font-family: Georgia, sans-serif;
    font-size: 1.2em;
    font-weight: 100;
    text-transform: uppercase;
    padding: 10px;
}

/* ------------------------- FOOTER ----------------------------- */
footer {
    background-color: var(--dark-gray);
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}

/* ------------------------- MEDIA QUERIES ----------------------------- */
@media only screen and (max-width: 850px) {
    #produtos #states {
        flex-direction: column;
    }

    #contato #contato-container {
        flex-direction: column;
    }

    #contato form {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 730px) {
    header {
        flex-direction: column;
        padding-bottom: 20px;
    }

    #portfolio .filial {
        flex-direction: column;
    }

    #portfolio .filial .filial-text {
        margin-top: 15px;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

    footer img {
        width: 30%;
        margin: 20px auto;
    }
}

@media only screen and (max-width: 370px) {
    #produtos #states {
        padding: 0;
    }

    #contato form {
        flex-direction: column;
    }

    #contato form :last-child {
        max-width: 40%;
    }
}